.DS_Store
**/.dart_tool/
.packages
.pub/
*.iml
.idea
.metadata

*/fimber.iml
*/flutter_fimber.iml

**/build/
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/android/local.properties
**/pubspec.lock
.flutter-plugins*