name: flutter_fimber
description: Flutter extension for Fimber logging API, it will use native OS Logging statements via channel.
version: 0.3.0
author: Mateusz Perlak <mati.akip@gmail.com>
homepage: https://github.com/magillus/flutter-fimber

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  fimber: "^0.3.1"

  flutter:
    sdk: flutter

dev_dependencies:
  test: '^1.5.1'

flutter:
  plugin:
    androidPackage: com.perlak.flutterfimber
    pluginClass: FlutterFimberPlugin
