name: flutter_fimber
description: Flutter extension for Fimber logging API, it will use native OS Logging statements via channel.
version: 0.6.1
homepage: https://github.com/magillus/flutter-fimber

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: '>=2.0.0'

dependencies:
  fimber: ^0.6.0
  flutter:
    sdk: flutter

dev_dependencies:
  test: '^1.16.5'
  pedantic: '^1.11.0'

flutter:
  plugin:
    platforms:
      android:
        package: com.magillus.flutterfimber
        pluginClass: FlutterFimberPlugin
      ios:
        pluginClass: FlutterFimberPlugin
